# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# ========================
# Virtual Environments
# ========================
.env
.venv
env/
venv/
ENV/
VLA_env
Models/

# ========================
# IDEs & Editors
# ========================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ========================
# Misc
# ========================
.DS_Store
